/*
 * TelstraSMSMessagingAPILib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
package net.telstra.tdev.apipractice.slot2.controllers;

import java.io.*;
import java.util.*;
import java.util.concurrent.*;
import com.fasterxml.jackson.core.JsonProcessingException;
import com.fasterxml.jackson.core.type.TypeReference;

import net.telstra.tdev.apipractice.slot2.*;
import net.telstra.tdev.apipractice.slot2.models.*;
import net.telstra.tdev.apipractice.slot2.exceptions.*;
import net.telstra.tdev.apipractice.slot2.http.client.HttpClient;
import net.telstra.tdev.apipractice.slot2.http.client.HttpContext;
import net.telstra.tdev.apipractice.slot2.http.request.HttpRequest;
import net.telstra.tdev.apipractice.slot2.http.response.HttpResponse;
import net.telstra.tdev.apipractice.slot2.http.response.HttpStringResponse;
import net.telstra.tdev.apipractice.slot2.http.client.APICallBack;
import net.telstra.tdev.apipractice.slot2.controllers.syncwrapper.APICallBackCatcher;

public class SMSController extends BaseController {    
    //private static variables for the singleton pattern
    private static Object syncObject = new Object();
    private static SMSController instance = null;

    /**
     * Singleton pattern implementation 
     * @return The singleton instance of the SMSController class 
     */
    public static SMSController getInstance() {
        synchronized (syncObject) {
            if (null == instance) {
                instance = new SMSController();
            }
        }
        return instance;
    }

    /**
     * Send an SMS to a Australian or International mobile phone.
     * @param    payload    Required parameter: A JSON or XML payload containing the recipient's phone number and text message. The recipient number should be in the format '04xxxxxxxx' where x is a digit
     * @return    Returns the MessageSentResponse response from the API call 
     */
    public MessageSentResponse createSendMessage(
                final SendSMSRequest payload
    ) throws Throwable {
        APICallBackCatcher<MessageSentResponse> callback = new APICallBackCatcher<MessageSentResponse>();
        createSendMessageAsync(payload, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Send an SMS to a Australian or International mobile phone.
     * @param    payload    Required parameter: A JSON or XML payload containing the recipient's phone number and text message. The recipient number should be in the format '04xxxxxxxx' where x is a digit
     * @return    Returns the void response from the API call 
     */
    public void createSendMessageAsync(
                final SendSMSRequest payload,
                final APICallBack<MessageSentResponse> callBack
    ) throws JsonProcessingException {
        //the base uri for api requests
        String _baseUri = Configuration.getBaseUri(Servers.DEFAULT);
        
        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/messages/sms");
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 5184440352768417426L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "accept", "application/json" );
                    put( "Authorization", OAuthManager.getInstance().getAuthorizationHeader());
            }
        };
        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().postBody(_queryUrl, _headers, APIHelper.serialize(payload));

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //Error handling using HTTP status codes
                            int _responseCode = _response.getStatusCode();
                            if (_responseCode == 400)
                                throw new ErrorErrorException("Invalid or missing request parameters", _context);

                            if (_responseCode == 401)
                                throw new ErrorErrorException("Invalid or no credentials passed in the request", _context);

                            if (_responseCode == 403)
                                throw new ErrorErrorException("Authorization credentials passed and accepted but account does not have permission", _context);

                            if (_responseCode == 404)
                                throw new ErrorErrorException("The requested URI does not exist", _context);

                            if (_responseCode == 405)
                                throw new ErrorErrorException("The requested resource does not support the supplied verb", _context);

                            if (_responseCode == 415)
                                throw new ErrorErrorException("API does not support the requested content type", _context);

                            if (_responseCode == 422)
                                throw new ErrorErrorException("The request is formed correctly, but due to some condition the request cannot be processed e.g. email is required and it is not provided in the request", _context);

                            if (_responseCode == 500)
                                throw new ErrorErrorException("An internal error occurred when processing the request", _context);

                            if (_responseCode == 501)
                                throw new ErrorErrorException("The HTTP method being used has not yet been implemented for the requested resource", _context);

                            if (_responseCode == 503)
                                throw new ErrorErrorException("The service requested is currently unavailable", _context);

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            MessageSentResponse _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<MessageSentResponse>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)	
                            {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Retrieve the status of a single outgoing SMS message.
     * @param    messageId    Required parameter: Unique identifier of a message - it is the value returned from a previous POST call to https://api.telstra.com/v2/messages/sms
     * @return    Returns the OutboundPollResponse response from the API call 
     */
    public OutboundPollResponse getMessageStatus(
                final String messageId
    ) throws Throwable {
        APICallBackCatcher<OutboundPollResponse> callback = new APICallBackCatcher<OutboundPollResponse>();
        getMessageStatusAsync(messageId, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Retrieve the status of a single outgoing SMS message.
     * @param    messageId    Required parameter: Unique identifier of a message - it is the value returned from a previous POST call to https://api.telstra.com/v2/messages/sms
     * @return    Returns the void response from the API call 
     */
    public void getMessageStatusAsync(
                final String messageId,
                final APICallBack<OutboundPollResponse> callBack
    ) {
        //the base uri for api requests
        String _baseUri = Configuration.getBaseUri(Servers.DEFAULT);
        
        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/messages/sms/{messageId}/status");

        //process template parameters
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 5228801497100738392L;
            {
                    put( "messageId", messageId );
            }});
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 5412202272570054218L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "accept", "application/json" );
                    put( "Authorization", OAuthManager.getInstance().getAuthorizationHeader());
            }
        };

        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //Error handling using HTTP status codes
                            int _responseCode = _response.getStatusCode();
                            if (_responseCode == 400)
                                throw new ErrorErrorException("Invalid or missing request parameters", _context);

                            if (_responseCode == 401)
                                throw new ErrorErrorException("Invalid or no credentials passed in the request", _context);

                            if (_responseCode == 403)
                                throw new ErrorErrorException("Authorization credentials passed and accepted but account does not have permission", _context);

                            if (_responseCode == 404)
                                throw new ErrorErrorException("The requested URI does not exist", _context);

                            if (_responseCode == 405)
                                throw new ErrorErrorException("The requested resource does not support the supplied verb", _context);

                            if (_responseCode == 415)
                                throw new ErrorErrorException("API does not support the requested content type", _context);

                            if (_responseCode == 422)
                                throw new ErrorErrorException("The request is formed correctly, but due to some condition the request cannot be processed e.g. email is required and it is not provided in the request", _context);

                            if (_responseCode == 500)
                                throw new ErrorErrorException("An internal error occurred when processing the request", _context);

                            if (_responseCode == 501)
                                throw new ErrorErrorException("The HTTP method being used has not yet been implemented for the requested resource", _context);

                            if (_responseCode == 503)
                                throw new ErrorErrorException("The service requested is currently unavailable", _context);

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            OutboundPollResponse _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<OutboundPollResponse>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)	
                            {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Retrieve the unread incoming SMS messages
     * @return    Returns the List<InboundPollResponse> response from the API call 
     */
    public List<InboundPollResponse> retrieveMessages(
    ) throws Throwable {
        APICallBackCatcher<List<InboundPollResponse>> callback = new APICallBackCatcher<List<InboundPollResponse>>();
        retrieveMessagesAsync(callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Retrieve the unread incoming SMS messages
     * @return    Returns the void response from the API call 
     */
    public void retrieveMessagesAsync(
                final APICallBack<List<InboundPollResponse>> callBack
    ) {
        //the base uri for api requests
        String _baseUri = Configuration.getBaseUri(Servers.DEFAULT);
        
        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/messages/sms");
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 5306813446488713040L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "accept", "application/json" );
                    put( "Authorization", OAuthManager.getInstance().getAuthorizationHeader());
            }
        };

        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //Error handling using HTTP status codes
                            int _responseCode = _response.getStatusCode();
                            if (_responseCode == 400)
                                throw new ErrorErrorException("Invalid or missing request parameters", _context);

                            if (_responseCode == 401)
                                throw new ErrorErrorException("Invalid or no credentials passed in the request", _context);

                            if (_responseCode == 403)
                                throw new ErrorErrorException("Authorization credentials passed and accepted but account does not have permission", _context);

                            if (_responseCode == 404)
                                throw new ErrorErrorException("The requested URI does not exist", _context);

                            if (_responseCode == 405)
                                throw new ErrorErrorException("The requested resource does not support the supplied verb", _context);

                            if (_responseCode == 415)
                                throw new ErrorErrorException("API does not support the requested content type", _context);

                            if (_responseCode == 422)
                                throw new ErrorErrorException("The request is formed correctly, but due to some condition the request cannot be processed e.g. email is required and it is not provided in the request", _context);

                            if (_responseCode == 500)
                                throw new ErrorErrorException("An internal error occurred when processing the request", _context);

                            if (_responseCode == 501)
                                throw new ErrorErrorException("The HTTP method being used has not yet been implemented for the requested resource", _context);

                            if (_responseCode == 503)
                                throw new ErrorErrorException("The service requested is currently unavailable", _context);

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            List<InboundPollResponse> _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<List<InboundPollResponse>>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)	
                            {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

}