<div class="container">
    <div class="col-md-8 ml-auto mb-3">
        <!-- <h1>Happy Chat 😄</h1> -->
        <h1>
            <i class="fa">
                <span class="ticon-MessagingAPI-icon-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
            </i> Happy Chat
            <i class="fa fa-spin">
                <span class="ticon-Circuit---Circle-01"><span class="path1"></span><span class="path2"></span></span>
            </i>
        </h1>
    </div>
    <router-outlet></router-outlet>
</div>
<app-error></app-error>