/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@font-face {
  font-family: "TelstraAkkurat-Light";
  src: url("./assets/fonts/TelstraAkkurat-Light.otf")
}

$fontFamily: TelstraAkkurat-Light !default;
$theme: #0064D2 !default;

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 5rem;
  height: 100%;
}
.btn {
 cursor: pointer; 
}
h1 {
  font-family: $fontFamily;
  color: $theme;
}
h3 {
  color: $theme;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
select.ng-invalid.ng-touched {
  border: 1px solid red;
}
.form-error {
  margin-top: .5em;
}
.input-group .form-control {
  z-index: 0 !important;
}