<div class="row">
  <div class="col-md-8">
    <div class="card card-outline-primary">
      <div class="card-block">
        <h3 class="card-title">Send SMS</h3>
        <form [formGroup]="smsForm">
          <div formArrayName="to">
            <ng-container *ngFor="let number of smsForm.get('to')['controls']; let i = index">
              <label>Recipient {{ i + 1 }}</label>
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <app-to-form [group]="smsForm.get('to')['controls'][i]"></app-to-form>
                </div>
                <div *ngIf="sentMessages && getSent(smsForm.get('to')['controls'][i]['controls']['number'].value)" class="col-sm-4 col-md-4">
                  <ng-container *ngIf="getSent(smsForm.get('to')['controls'][i]['controls']['number'].value).deliveryStatus !== 'DeliveryImpossible'; else deliveryFailed">
                    <button class="btn btn-outline-warning btn-block" (click)="getMessageStatus(smsForm.get('to')['controls'][i]['controls']['number'].value)">
                      <i *ngIf="pollWaiting" class="fa fa-refresh fa-spin fa-fw"></i>
                      {{ pollWaiting ? '': 'Poll' }}
                    </button>
                  </ng-container>
                  <ng-template #deliveryFailed>
                    <div class="card card-inverse card-danger text-center">
                      <p class="card-blockquote"><i class="fa fa-exclamation"></i>&nbsp;&nbsp;Failed</p>
                    </div>
                  </ng-template>
                </div>
                <div *ngIf="smsForm.get('to')['controls'].length > 1" class="col-sm-1 col-md-1">
                  <button class="btn btn-outline-danger" (click)="removeTo(i)"><i class="fa fa-times"></i></button>
                </div>
              </div>
            </ng-container>
            <button *ngIf="!mysteryMan" class="btn btn-outline-success btn-sm" style="margin-bottom: 1em" (click)="addTo()">Add Recipient</button>
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea rows="5" class="form-control" formControlName="message"></textarea>
            <div *ngIf="smsForm.get('message').hasError('required')
                        && smsForm.get('message').touched" class="alert alert-danger" id="form-error">
              Message is required
            </div>
          </div>
          <button class="btn btn-outline-primary col-md-2" [disabled]="!smsForm.valid" (click)="onSend()">
            <i *ngIf="messageWaiting" class="fa fa-refresh fa-spin fa-fw"></i>
            {{ messageWaiting ? '' : 'Send' }}
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div *ngIf="messageStatusResponse">
      <div class="card card-outline-warning">
        <div class="card-block">
          <h3 class="card-title">Message Status
            <i class="fa fa-times pull-right" (click)="closeStatus()"></i>
          </h3>
          <h5 class="card-subtitle text-muted">Sent At:</h5>
          <p class="card-text">{{ messageStatusResponse.sentTimestamp }}</p>
          <h5 class="card-subtitle text-muted">Received At:</h5>
          <p class="card-text">{{ messageStatusResponse.receivedTimestamp }}</p>
          <h5 class="card-subtitle text-muted">To:</h5>
          <p class="card-text">{{ messageStatusResponse.to }}</p>
        </div>
      </div>
    </div>
  </div>
</div>